.threejs
{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -2;
}

.ndi_logo
{
    position: absolute;
    bottom: 3em;
    right: 3em;
}

body {
    background: #353435;
    color: #f4ecec;
    font-family: 'Roboto', sans-serif;
}

.phase{
    position: absolute;
    width: 100%; height: 100%;
}

#phase1{
    z-index: 100;
}
#phase2{
    z-index: 99;
}
#phase3{
    z-index: 98;
}
#phase4{
    z-index: 97;
}
#phase5{
    z-index: 96;
}

.big_title {
    font-size: 2em;
    position: absolute;
    left: 20%;
    top: 20%;
}

.big_title .right
{
    right: 20%;
    left: auto;
    text-align: right;
}

.big_button {
    margin-top: 0.8em;
    font-size: 0.8em;
}

.big-number-desc
{
    font-size: 6em;
font-weight: 900;
z-index: 1;
opacity: .2;
top: 40%;
right: 20%;
position: absolute;
    position: absolute;
}
.big-number 
{
    display: block;
    font-size: 8em;
    font-weight: 900;
    top: 15%;
    right: 20%;
    position: absolute;
    z-index: 20;
}

.big-number-minus 
{
    color:
white;
font-size: 3em;
background:
rgba(255, 255, 255, 0.1);
position: absolute;
left: 0;
top: 40%;
bottom: 0;
height: 200px;
width: 80px;
display: block;
z-index: 200;
}

.big-number-plus
{
    color:
white;
font-size: 3em;
background:
rgba(255, 255, 255, 0.1);
position: absolute;
right: 0;
top: 40%;
bottom: 0;
height: 200px;
width: 80px;
display: block;
z-index: 200;

}

.next-phase
{
    top: 50%;
right: 25%;
color:
white;
font-size: 8em;
position: absolute;
display: block;
z-index: 20;
}


#output {
    bottom: 2%;

max-width: 300px;

position: absolute;

z-index: -1;

opacity: 0.8;

margin: auto;

left: 0;

right: 0;
}

#phase9{
    display: block;

max-width: 1200px;

margin: auto em;

margin-top: 5em;

margin-left: 5em;

font-size: 1.5em;

font-weight: 200;
}